<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      AboutThisApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <h2><strong>About</strong></h2>
    <h3>version 0.1 fictional store</h3>
    <p>This is the version 0.1 of fictional store app for study purposes.</p>
    <p>added:</p>
    <p>RESTful-API: https://fakestoreapi.com/products</p>
    <p>SCSS for Home page and About page</p>
    <p>Interactive functions for Home page</p>
  </ion-card>

</ion-content>
